html{
    background-image: linear-gradient(rgb(206, 206, 198),rgb(171, 170, 151));
    overflow-x: hidden;
}
.div{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;  
    font-size: 30px;
    width:500px;
    background-color: rgba(240, 248, 255, 0.226);
    box-shadow: 40px 0 20px rgba(0, 0, 0, 0.537);
}
.div > a{
    background:rgb(200, 233, 249);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.699);
    color: rgb(106, 107, 102);
    line-height: 80px;
    text-align: center;
    border-radius: 40px;
    height:80px;
    width:400px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: inline-block;
    animation: color 5s infinite linear;
    transition: .2s;
}
@keyframes color {

    50%{
        background: rgb(149, 237, 221);
    }
}

a:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.438);
}
img{
    width:50%;
    margin-left: 100px;
    margin-top: 60px;
    object-fit: cover;
    opacity:.9;
    box-shadow: 40px 0 20px rgba(0, 0, 0, 0.537);
}
.container{
    display: flex;
    justify-content: space-evenly;
}

.tile-container{
    position: fixed;
    z-index: -5;
    top:320px;
    display: grid;
    grid-template-columns: repeat(60, 1fr);
}
.back{
    background-color: black;
    border:1px solid white;
    height:2vh;
    width:1vw;
}



@media screen and (max-width:700px){
    .div>a{
        width:200px;
        font-size: 16px;
        font-weight: bold;
    }
    img{
        margin-left: 10px;
        width:80%;
    }
    .back{
        height:1vh;
        border:.5px solid white;

    }
}
@media screen and (max-width:400px){
    .div>a{
        width:180px;
        line-height: 60px;
        height:60px;
        font-size:14px;
        font-weight: bold;
    }
    img{
        display: none;
    }
    .back{
        border:.3px solid white;
        height:0.5vh;
    }
}
